.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 20rem));
    grid-gap: .5rem;
    padding: 1rem;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:550px) {
    .grid {
        grid-template-columns: 1fr;
    }
}