.team{
   background-color: #F8F9FA;
}
.team__memebers{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
   grid-column-gap: 5px;
   grid-row-gap: 5px;
   justify-content: center;
}