.member {
    height: 300px;
    padding-bottom: 50px;
}

.member-image {
    display: flex;
    justify-content: center;
}

.member-image img {
    width: 15rem;
    border-radius: 50%;
    border: solid 5px #DFE0E1;
}

.member-details * {
    text-align: center;
    margin: 0;
    text-transform: capitalize;
}

.member-details h3 {
    font-weight: bold;
}

.member-details h4 {
    font-weight: normal;
    font-size: 1rem;
}

.member-social-links-buttons {
    display: flex;
    justify-content: center;
}