.contact-us__controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 35rem));
    justify-content: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.contact-us__user_message, .contact-us__user_details {
    min-height: 300px;
    padding: 0 10px;
}

.contact-us__control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contact-us__control label {
    font-size: 1.1rem;
}

.contact-us__control .error p {
    color: red;
    font-size: .9rem;
    margin: 0;
}

.contact-us__control input {
    height: 40px;
    border-radius: 5px;
    font-size: 1.1rem;
}

.contact-us__control input::placeholder, .contact-us__control textarea::placeholder {
    font-size: .8rem;
    padding-left: 10px;
}

textarea {
    border-radius: 5px;
    font-size: 1.1rem;
    height: 205px;
}

.contact-us__action {
    padding-left: 10px;
    position: relative;
    top: -50px;
}

