footer {
    min-height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.box p {
    margin: auto;
}

.box a {
    color: #242424;
    font-size: .9rem;
    margin: 0 5px;
}


@media only screen and (max-width:768px) {
    footer {
        flex-direction: column;
        justify-content: center;
    }

    .box {
        margin: 5px 0;
    }
}