.navbar{
    background:transparent;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 9;
}
.navbar.active{
    background-color: #242424;
    padding: .5rem 0;
}
@media only screen and (max-width: 768px) {
    .navbar{
        display: block;
        flex-direction: column;
        z-index: 1; 
        background-color: #242424;
    }
}